.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.enter-button {
  background-color: #5d5a88;
  text-decoration: none;
  font-style: none;
  border: 0;
  margin: 3px;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  font: white;
  outline: none;
  cursor: pointer;
}

.link-style {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
